.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.modal-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #45a049;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  position: relative;
}

.close-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close-button:hover {
  background-color: #e53935;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
